{
  "eslintIntegration": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "semi": false,
  "endOfLine": "auto",
  "vueIndentScriptAndStyle": true
}
